.section-two{
    position: relative;
    padding:140px 0;
    overflow:hidden;
}

.section-two-container{
    position: relative;
    z-index: 5;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:90px;
}

.wave{
    position: absolute;

    top: -120px;      /* upar le jao */
    right: -120px;    /* right side se bahar */

    width: 68%;       /* sirf right part dikhna chahiye */
    height: auto;

    z-index: -1;
    pointer-events: none;
}

.section-two-image{
    position:relative;
    width:480px;
    height:480px;
    flex-shrink:0;
}

.meeting-two{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
    position:relative;
    z-index:3;
}

.section-two-content{
    max-width:540px;
    position:relative;
    z-index:3;
}

.section-two-content h2{
    font-size:72px;
    line-height:1.05;
    font-weight:500;
    margin-bottom:25px;
}

.section-two-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:30px;
}

.section-two-content a{
    text-decoration:none;
    color:#111;
    border-bottom:2px solid #111;
    padding-bottom:4px;
}

.green-bg{
    background:#DDF2D5;
    padding:2px 12px;
    border-radius:30px;
}











.triangle{

    position:absolute;

    left:-20px;

    top:40px;

    width:110px;

    z-index:1;

}


@media(max-width:900px){

.section-two-container{

grid-template-columns:1fr;

text-align:center;

}

.section-two-content p{

margin:auto;
margin-bottom:20px;

}

.section-two-image{

order:-1;

}

}
.triangle-left{
    position:absolute;

    width:120px;

    left:-50px;

    top:50px;

    z-index:1;
}

.triangle-right{
    position:absolute;

    width:120px;

    right:20px;

    bottom:-20px;

    z-index:4;

    transform:rotate(180deg);
}
.wave{
    z-index:-1;
}
.section-two{
    overflow:hidden;
}